<div class="card bg-base-300 shadow-md h-full">
  <div class="card-body">
    <div class="flex justify-between items-center mb-4">
      <h2 class="card-title text-secondary">Consultas Médicas</h2>
      <button class="btn btn-xs btn-primary">Nueva Consulta</button>
    </div>

    @if (!consultations?.length) {
    <div class="text-center text-accent h-full flex items-center">
      <p class="text-2xl">No se encontraron consultas</p>
    </div>
    } @else {
    <div class="overflow-x-auto">
      <table class="table table-sm">
        <thead class="text-accent">
          <tr>
            <th>Fecha</th>
            <th>Concepto</th>
            <th>Monto</th>
          </tr>
        </thead>

        <tbody>
          @for (consult of consultations; track consult.id) {
          <tr class="even:bg-base-200 hover:bg-accent-content">
            <td>{{ consult.createdAt | date : "dd/MM/yyyy" }}</td>
            <td>{{ consult.concept }}</td>
            <td>{{ consult.amount | currency : "GTQ" : "symbol-narrow" }}</td>
          </tr>
          }
        </tbody>
      </table>
    </div>
    }
  </div>
</div>
